.taskcard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #707070;
  .taskcard-tags {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
  }
  p {
    margin: 0;
  }
}

.taskcard-tag {
  border: 1px solid #707070;
  border-radius: 5px;
  background-color: #c9c9c9;
  padding: 0px 3px;
  margin-right: 3px;
}
